:root {
    --bg-color: #9BC1BC;
    --accent-color: #5CA4A9;
    --main-color: #F4F1BB;
    --main-title: #E37567;
    --light-color: #E6EBE0;
    --dark-color: #363537;
  }
  *, 
  *::before, 
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    box-sizing: border-box;
    background-image: linear-gradient(var(--bg-color), var(--accent-color));
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
}

h1 {
    color: #ED6A5A;
    text-align: center;
    margin: 20px;
}

h2{
    color: #F4F1BB;
}

#modal {
	background-color: var(--bg-color);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
	background-color: var(--bg-color);
	height: 500px;
	width: 700px;
	border-radius: 2px;
    margin: 150px auto;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: 'Bebas Neue', cursive;
}

.teams {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.teamSetUp {
    height: 160px;
    width: 200px;
}

#main {
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    text-align: center;
}

#team1 {
    order: 1;
    border: 2px solid black;
    display: flex;
  justify-content: center;
  flex-direction: column;
    
}

#board {
    order: 2;
    border: 2px solid black;
}

#team2 {
    order: 3;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teamScoreBoard {
    height: 20px;
    width: 50px;
    border: 2px solid red;
    margin: 0 auto;
}